#all_back_img{ background-image: url(../images/pro_back.png);
               background-repeat: no-repeat;
            width: 100%; height:100%; overflow: hidden;}
#back3{text-align:center;overflow: hidden;}
.back_main2{ position: absolute; top: 30px ; left: 380px;
    width: 1300px; height: 866px;border: 1px solid #85C8F2;
    border-radius: 10px; background-color:rgba(42, 85, 140, 0.8);
    overflow: auto;}



.lim_main3{text-align: left; position: fixed; top:30px ; left: 60px;}
.back_left3{width: 252px; padding-left: 10px; 
    background-color:rgba(255, 255, 255, 0.7);
    border-radius:30px; margin-top: 0;}

   
#back3 .back_img3{width: 100%; height:60px; padding-top: 15px; text-align: center;}
#back3 .home3{width: 180px; height: 60px; 
   margin-bottom: 30px; margin-top: 40px; margin-left: 30px;
   background-color: #3D85C6; position: relative;
   border-radius: 30px;}
#back3 .home3 .home_in3 {width:170px;height: 50px; border-radius: 30px; 
   margin-right: 0; margin-left: 4px;
   position: absolute; top:5px; left: 0; background-color: #fff;position: relative;}
#back3 .home3 .home_in3 a{position: absolute; top: 15px; left: 50px;font-weight: bold;}   
#back3 .home3 .home_in3 a:hover{color: #fff;}
#back3 .home3 .home_in3:hover a{color: #fff;}
#back3 .home3 .home_in3:hover{background-color: #72A0C1;}
#back3 .home3 .home_line3 {width: 40px; height: 40px; 
   border-radius: 30px;  background-color:#3D85C6;
   position: absolute; top:5px; left:5px; text-align: center;}   
#back3 .home3 .home_line3 B{font-size: 27px; color: #fff;}

.con_a{border: 1px solid #85C8F2;padding: 8px 30px;
   font-size: 16px; color: #fff;
  position: fixed; top:50px; right:265px;}
.con_a:hover{background-color: rgba(40, 228, 255, 0.5);}


#back3 .About2{width: 180px; height: 60px; margin-bottom: 30px; margin-left: 30px;
   background-color:#F5820A;position: relative; border-radius: 30px;}

#back3 .About2 .About_in2 {width:170px;height: 50px;  border-radius: 30px;margin-left: 4px;
   position: absolute; top:5px; left: 0; background-color: #fff;position: relative;}
#back3 .About2 .About_in2 a{position: absolute; top: 15px; left: 50px;font-weight: bold;}   
#back3 .About2 .About_in2 a:hover{color: #fff;}
#back3 .About2 .About_in2:hover a{color: #fff;}
#back3 .About2 .About_in2:hover{background-color: #f3a552;}
#back3 .About2 .About_line2 {width: 40px; height: 40px; 
   border-radius: 30px;  background-color:#F5820A;
   position: absolute; top:5px; left:5px; text-align: center;}   
#back3 .About2 .About_line2 B{font-size: 27px; color: #fff;}


#back3 .portfolio2{width: 180px; height: 60px; margin-left: 30px;
   background-color:#04D9C4; position: relative;border-radius: 30px;}
#back3 .portfolio2 .port_in3 {width:170px;height: 50px;  border-radius: 30px; margin-left: 4px;
   position: absolute; top:5px; left: 0; background-color: #fff;position: relative;}
#back3 .portfolio2 .port_in3 a{position: absolute; top: 15px; left: 50px;
    font-weight: bold; }   
#back3 .portfolio2 .port_in3 a:hover{color: #fff;}
#back3 .portfolio2 .port_in3:hover a{color: #fff;}
#back3 .portfolio2 .port_in3:hover{background-color: #63B0F2;}
#back3 .portfolio2 .port_line3 {width: 40px; height: 40px; 
   border-radius: 30px;  background-color:#04D9C4;
   position: absolute; top:5px; left:5px; text-align: center;}   
#back3 .portfolio2 .port_line3 B{font-size: 27px; color: #fff;}




.call_all2 {padding-left: 10px; margin-top: 30px;}
.call_all2::after{content:'' ; clear: both; display: block;}
#back3 .sns_naver3{width: 60px; height: 60px; margin-bottom: 10px;
   background-color:#04BF33; border-radius:50%;
   text-align: center; position: relative; float: left;}
#back3 .sns_naver3 .sns_nac_in3 {width:50px;height: 50px; border-radius:50%;
   position: absolute; top:5px; left: 5px; background-color: #fff;position: relative;}
#back3 .sns_naver3 .sns_nac_in3 a{position: absolute; top: 15px; left: 50px;}   
#back3 .sns_naver3 .sns_nac_in3 a:hover{color: #fff;}
#back3 .sns_naver3 .sns_nac_in3:hover a{color: #fff;}
#back3 .sns_naver3 .sns_nac_in3:hover{background-color: #96D97F;}
#back3 .sns_naver3 .sns_naver_in3 {width: 40px; height: 40px; 
   border-radius: 30px;  background-color:#04BF33;
   position: absolute; top:5px; left:5px; text-align: center;}   
#back3 .sns_naver3 .sns_naver_in3 B{font-size: 27px; color: #fff;}

#back3 .sns_face3{width: 60px; height: 60px; margin-bottom: 10px;float: left;
   background-color:#2A558C; border-radius:50%; margin-left:20px; }
#back3 .sns_face3 .sns_fa_in3 {width:50px;height: 50px; border-radius: 50%; 
   position: absolute; top:5px; left: 5px; background-color: #fff;position: relative;}
#back3 .sns_face3 .sns_fa_in3 a{position: absolute; top: 15px; left: 50px;}   
#back3 .sns_face3 .sns_fa_in3:hover a{color: #fff;}
#back3 .sns_face3 .sns_fa_in3:hover{background-color: #85C8F2;}
#back3 .sns_face3 .sns_face_in3 {width: 40px; height: 40px; 
   border-radius: 30px;  background-color:#2A558C;
   position: absolute; top:5px; left:5px; text-align: center;}   
#back3 .sns_face3 .sns_face_in3 B{font-size: 27px; color: #fff;}

#back3 .sns_ins3{width: 60px; height: 60px; margin-bottom: 5px;
   background-color:#A433A4; border-radius: 50%; margin-left:160px ; }
#back3 .sns_ins3 .sns_ins_in3 {width:50px;height: 50px; border-radius: 50%;
   position: absolute; top:5px; left: 5px; background-color: #fff;position: relative;}
#back3 .sns_ins3 .sns_ins_in3 a{position: absolute; top: 15px; left: 50px;}   
#back3 .sns_ins3 .sns_ins_in3:hover a{color: #fff;}
#back3 .sns_ins3 .sns_ins_in3:hover{background-color: #E3A3C8;}
#back3 .sns_ins3 .sns_insta_in3 {width: 40px; height: 40px; 
   border-radius: 30px;  background-color:#A433A4;
   position: absolute; top:5px; left:5px; text-align: center;}   
#back3 .sns_ins3 .sns_insta_in3 B{font-size: 27px; color: #fff;}

#back3 .reday3{padding-left: 20px; padding-bottom: 10px;} 
#back3 .reday3 p{margin-top: 0;margin-bottom: 10px; color:#2A558C}

#back3 .individua3{position: absolute; top:550px; left: 60px;
   font-size: 14px; border-radius: 15px; width: 252px;
   margin-bottom: 10px;text-align: left; padding-left: 10px;
   background-color:rgba(255, 255, 255, 0.7);
  }
#back3 .individua3 img{padding-right: 6px;}
#back3 .individua3 p{margin-top: 10px;margin-bottom: 10px;}   
#back3 .ind_call3{width: 235px; border-radius: 15px; 
   background-color:#fff; border: 2px solid #3D85C6; text-align: center;
   margin-bottom: 10px; margin-right: 0;}
#back3 .ind_call3 ul{margin-top: 0;margin-bottom: 0;}   
#back3 .ind_call3 li:first-child{color:#3D85C6; margin-bottom: 5px; margin-top: 10px;}
#back3 .ind_call3 li:nth-child(2){margin-bottom: 15px; font-size: 17px;}
#back3 .ind_call3 li:nth-child(3){color:#3D85C6; margin-bottom: 5px;}
#back3 .ind_call3 li:last-child{margin-bottom: 10px; font-size: 17px;}


.red-ball{
   background-image:url(../images/mouse.on.png) ;
   background-repeat: no-repeat;
   position: absolute;
   top:0;
   left:0;
   width: 40px;
   height: 40px;
   margin-top:10px; 
   margin-left:10px;
   z-index: 999999;
}
.red-ball .on{
   background-image:url(../images/mouse.off.png) ;
   background-repeat: no-repeat;
   position: absolute;
   top:0;
   left:0;
   width: 40px;
   height: 40px;
   margin-top:10px; 
   margin-left:10px;
   z-index: 999999;
}
