html,body{padding:0; margin:0;height: 869px;}
.darkBg{background:#D5E5F2;height: 869px;}
.lightBg{background : url(images/snow.jpg) #61bdc4 top center no-repeat;}
.snowfall-flakes{background: rgb(255, 255, 255); height: 869px;}

