#back{text-align:center;position: relative; padding-top: 40px; overflow: hidden;}
#all_back_img{ background-image: url(../images/inext_back22.png);
   background-repeat: no-repeat;
width: 100%; height:100%;position: absolute; top:0; left: 0;}
.lim_main{text-align: left;}
#back .back_img{width: 100%; height: 60px; margin-top: 10px; margin-bottom: 5px;}
.back_left{position: absolute; top:35px; left: 170px; width: 252px; 
 background-color:rgba(255, 255, 255, 0.7); border-radius: 15px;
 padding-left: 10px; padding-right: 10px;}
.ba_gm{width: 100%; font-size: 26px; text-align: left;
   margin-top:5px; margin-bottom:5px;}
.ba_big{width: 100%; font-size: 30px; text-align: left;
 margin-bottom:0; font-weight: bolder;}  
.ba_bb{color:#202020; font-size:20px; position: relative;
   margin-top:0; margin-bottom:40px;font-weight: bolder;}
#back .back_left span{position: absolute; top:200px; left: 0;
     width: 100%; height: 1px; background-color: #202020;}

#back .skil_html{width: 250px; height: 60px; margin-bottom: 40px;
   text-align: center; position: relative;}
#back .skil_html .skil_html_in {width: 80px; height: 25px;
   background-color:#2A558C; position: absolute; top:-30px; left:0px; 
   text-align: center; border-right: none;}   
#back .skil_html .skil_html_in B{font-size: 18px; color: #fff; padding-bottom: -5px;}
#back .skil_html ul{width: 100%;}   
#back .skil_html ul li{float: left;}
#back .skil_html ul .back{width: 40px; height: 40px; border-radius: 50%;
 margin-top: 5px; background-color:#fff;}
#back .skil_html ul .sho{position: absolute; top:10px ; left:5px; 
   background-color:#2A558C; width: 30px; height: 30px; border-radius: 50%;}
#back .skil_html ul .back2{width: 40px; height: 40px; border-radius: 50%;
 margin-top: 5px; background-color:#fff; margin-left: 10px;}
#back .skil_html ul .sho2{position: absolute; top:10px ; left:55px; 
   background-color:#2A558C; width: 30px; height: 30px; border-radius: 50%;}
#back .skil_html ul .back3{width: 40px; height: 40px; border-radius: 50%;
 margin-top: 5px; background-color:#fff; margin-left: 10px;}
#back .skil_html ul .sho3{position: absolute; top:10px ; left:105px; 
   background-color:#2A558C; width: 30px; height: 30px; border-radius: 50%;}
#back .skil_html ul .back4{width: 40px; height: 40px; border-radius: 50%;
 margin-top: 5px; background-color:#fff; margin-left: 10px;}
#back .skil_html ul .sho4{position: absolute; top:10px ; left:155px; 
   background-color:#2A558C; width: 30px; height: 30px; border-radius: 50%}
#back .skil_html ul .back5{width: 40px; height: 40px; border-radius: 50%;
 margin-top: 5px; background-color:#fff; margin-left: 10px;}
#back .skil_html ul .sho5{position: absolute; top:10px ; left:205px; 
   background-color:#2A558C; width: 15px; height: 30px; border-radius:50px 0 0 50px;}





#back .skil_css{width: 250px; height: 60px; margin-bottom: 40px;
   text-align: center; position: relative;}
#back .skil_css .skil_css_in {width: 80px; height: 25px; 
   background-color:#2A558C;  position: absolute; top:-30px; left:0; 
   text-align: center;}   
#back .skil_css .skil_css_in B{font-size: 18px; color: #fff; padding-bottom: -5px;}
#back .skil_css ul{width: 100%;}   
#back .skil_css ul li{float: left;}
#back .skil_css ul .back{width: 40px; height: 40px; border-radius: 50%;
 margin-top: 5px; background-color:#fff;}
#back .skil_css ul .sho{position: absolute; top:10px ; left:5px; 
   background-color:#2A558C; width: 30px; height: 30px; border-radius: 50%;}
#back .skil_css ul .back2{width: 40px; height: 40px; border-radius: 50%;
 margin-top: 5px; background-color:#fff; margin-left: 10px;}
#back .skil_css ul .sho2{position: absolute; top:10px ; left:55px; 
   background-color:#2A558C; width: 30px; height: 30px; border-radius: 50%;}
#back .skil_css ul .back3{width: 40px; height: 40px; border-radius: 50%;
 margin-top: 5px; background-color:#fff; margin-left: 10px;}
#back .skil_css ul .sho3{position: absolute; top:10px ; left:105px; 
   background-color:#2A558C; width: 30px; height: 30px; border-radius: 50%;}
#back .skil_css ul .back4{width: 40px; height: 40px; border-radius: 50%;
 margin-top: 5px; background-color:#fff; margin-left: 10px;}
#back .skil_css ul .sho4{position: absolute; top:10px ; left:155px; 
   background-color:#2A558C; width: 30px; height: 30px; border-radius: 50%}
#back .skil_css ul .back5{width: 40px; height: 40px; border-radius: 50%;
 margin-top: 5px; background-color:#fff; margin-left: 10px;}
#back .skil_css ul .sho5{position: absolute; top:10px ; left:205px; 
   background-color:#fff; width: 30px; height: 30px; border-radius: 50%;}



#back .skil_ps{width: 250px; height: 60px; margin-bottom: 40px;
   text-align: center; position: relative;}
#back .skil_ps .skil_ps_in {width: 80px; height: 25px; 
   background-color:#F27507; position: absolute; top:-30px; left:0px; 
   text-align: center;}   
#back .skil_ps .skil_ps_in B{font-size: 18px; color: #fff;padding-bottom: -5px;}
#back .skil_ps ul{width: 100%;}   
#back .skil_ps ul li{float: left;}
#back .skil_ps ul .back{width: 40px; height: 40px; border-radius: 50%;
 margin-top: 5px; background-color:#fff;}
#back .skil_ps ul .sho{position: absolute; top:10px ; left:5px; 
   background-color:#F27507; width: 30px; height: 30px; border-radius: 50%;}
#back .skil_ps ul .back2{width: 40px; height: 40px; border-radius: 50%;
 margin-top: 5px; background-color:#fff; margin-left: 10px;}
#back .skil_ps ul .sho2{position: absolute; top:10px ; left:55px; 
   background-color:#F27507; width: 30px; height: 30px; border-radius: 50%;}
#back .skil_ps ul .back3{width: 40px; height: 40px; border-radius: 50%;
 margin-top: 5px; background-color:#fff; margin-left: 10px;}
#back .skil_ps ul .sho3{position: absolute; top:10px ; left:105px; 
   background-color:#F27507; width: 30px; height: 30px; border-radius: 50%;}
#back .skil_ps ul .back4{width: 40px; height: 40px; border-radius: 50%;
 margin-top: 5px; background-color:#fff; margin-left: 10px;}
#back .skil_ps ul .sho4{position: absolute; top:10px ; left:155px; 
   background-color:#F27507; width: 15px; height: 30px; border-radius: 50px 0 0 50px;}
#back .skil_ps ul .back5{width: 40px; height: 40px; border-radius: 50%;
 margin-top: 5px; background-color:#fff; margin-left: 10px;}
#back .skil_ps ul .sho5{position: absolute; top:10px ; left:205px; 
   background-color:#fff; width: 30px; height: 30px; border-radius: 50%;}




#back .skil_al{width: 250px; height: 60px; margin-bottom: 40px;
   text-align: center; position: relative;}
#back .skil_al .skil_al_in {width: 80px; height: 25px; background-color:#F27507;
   position: absolute; top:-30px; left:0; text-align: center; 
  border-right: none;}   
#back .skil_al .skil_al_in B{font-size: 18px; color: #fff; padding-bottom: -5px;}
#back .skil_al ul{width: 100%;}   
#back .skil_al ul li{float: left;}
#back .skil_al ul .back{width: 40px; height: 40px; border-radius: 50%;
 margin-top: 5px; background-color:#fff;}
#back .skil_al ul .sho{position: absolute; top:10px ; left:5px; 
   background-color:#F27507; width: 30px; height: 30px; border-radius: 50%;}
#back .skil_al ul .back2{width: 40px; height: 40px; border-radius: 50%;
 margin-top: 5px; background-color:#fff; margin-left: 10px;}
#back .skil_al ul .sho2{position: absolute; top:10px ; left:55px; 
   background-color:#F27507; width: 30px; height: 30px; border-radius: 50%;}
#back .skil_al ul .back3{width: 40px; height: 40px; border-radius: 50%;
 margin-top: 5px; background-color:#fff; margin-left: 10px;}
#back .skil_al ul .sho3{position: absolute; top:10px ; left:105px; 
   background-color:#F27507; width: 30px; height: 30px; border-radius: 50%;}
#back .skil_al ul .back4{width: 40px; height: 40px; border-radius: 50%;
 margin-top: 5px; background-color:#fff; margin-left: 10px;}
#back .skil_al ul .sho4{position: absolute; top:10px ; left:155px; 
   background-color:#F27507; width: 30px; height: 30px; border-radius: 50%}
#back .skil_al ul .back5{width: 40px; height: 40px; border-radius: 50%;
 margin-top: 5px; background-color:#fff; margin-left: 10px;}
#back .skil_al ul .sho5{position: absolute; top:10px ; left:205px; 
   background-color:#fff; width: 30px; height: 30px; border-radius: 50%;}



#back .skil_jq{width: 250px; height: 60px; margin-bottom: 10px;
   text-align: center; position: relative;}
#back .skil_jq .skil_jq_in {width: 80px; height: 25px; background-color:#97BF04;
   position: absolute; top:-30px; left:0; text-align: center; 
  border-right: none;}   
#back .skil_jq .skil_jq_in B{font-size: 18px; color: #fff; padding-bottom: -5px;}   
#back .skil_jq ul{width: 100%;}   
#back .skil_jq ul li{float: left;}
#back .skil_jq ul .back{width: 40px; height: 40px; border-radius: 50%;
 margin-top: 5px; background-color:#fff;}
#back .skil_jq ul .sho{position: absolute; top:10px ; left:5px; 
   background-color:#97BF04; width: 30px; height: 30px; border-radius: 50%;}
#back .skil_jq ul .back2{width: 40px; height: 40px; border-radius: 50%;
 margin-top: 5px; background-color:#fff; margin-left: 10px;}
#back .skil_jq ul .sho2{position: absolute; top:10px ; left:55px; 
   background-color:#97BF04; width: 30px; height: 30px; border-radius: 50%;}
#back .skil_jq ul .back3{width: 40px; height: 40px; border-radius: 50%;
 margin-top: 5px; background-color:#fff; margin-left: 10px;}
#back .skil_jq ul .sho3{position: absolute; top:10px ; left:105px; 
   background-color:#97BF04; width: 30px; height: 30px; border-radius: 50%;}
#back .skil_jq ul .back4{width: 40px; height: 40px; border-radius: 50%;
 margin-top: 5px; background-color:#fff; margin-left: 10px;}
#back .skil_jq ul .sho4{position: absolute; top:10px ; left:155px; 
   background-color:#fff; width: 30px; height: 30px; border-radius:50%;}
#back .skil_jq ul .back5{width: 40px; height: 40px; border-radius: 50%;
 margin-top: 5px; background-color:#fff; margin-left: 10px;}
#back .skil_jq ul .sho5{position: absolute; top:10px ; left:205px; 
   background-color:#fff; width: 30px; height: 30px; border-radius: 50%;}





/*
#back .reday_in{width: 240px; height: 50px; background-color:#fff; 
   border-radius: 30px; margin-bottom: 10px; font-size: 14px;
   border: 4px solid #3D85C6;} 
#back .reday p{margin-top: 0;margin-bottom: 10px;}
*/
#back .individua{ position: absolute; top:52px; left: 455px;
   font-size: 14px; border-radius: 15px; width: 252px;
   margin-bottom: 10px;text-align: left;
   background-color:rgba(255, 255, 255, 0.7);
   padding-left: 10px;padding-right: 10px;}
#back .individua img{padding-right: 6px;}
#back .individua p{margin-top: 10px;margin-bottom: 10px;}   
#back .ind_call{width: 248px; border-radius: 15px; 
   background-color:#fff; border: 2px solid #3D85C6; text-align: center;
   margin-bottom: 10px;}
#back .ind_call ul{margin-top: 0;margin-bottom: 0;}   
#back .ind_call li:first-child{color:#3D85C6; margin-bottom: 5px; margin-top: 10px;}
#back .ind_call li:nth-child(2){margin-bottom: 15px; font-size: 17px;}
#back .ind_call li:nth-child(3){color:#3D85C6; margin-bottom: 5px;}
#back .ind_call li:last-child{margin-bottom: 10px; font-size: 17px;}

#back .plus{position: absolute; top:650px; left: 900px;
   width:130px; height: 130px; border-radius: 80px; 
   background-color:rgba(255, 255, 255, 0.7); text-align: center;
   border:2px solid #3D85C6;}
#back .plus:hover{background-color: rgba(40, 228, 255, 0.7)}   
#back .plus:hover a{color: #fff;} 
#back .plus:hover span{transform: rotate(-180deg);}
#back .plus:hover span:last-child{transform: rotate(180deg);}
#back .plus span{width: 30px; height: 2px; background-color: #3D85C6;
position: absolute; top:95px; left:50px ;transition: all 1.5s}
#back .plus span:last-child{width: 2px; height: 30px;top:81px; left:64px;
   transition: all 1.5s;}
#back .plus p{padding-top: 20px; 
   font-weight: bolder;font-size: 14px;}



.red-ball{
   background-image:url(../images/mouse.on.png) ;
   background-repeat: no-repeat;
   position: absolute;
   top:0;
   left:0;
   width: 40px;
   height: 40px;
   margin-top:10px; 
   margin-left:10px;
   z-index: 999999;
}
.red-ball .on{
   background-image:url(../images/mouse.off.png) ;
   background-repeat: no-repeat;
   position: absolute;
   top:0;
   left:0;
   width: 40px;
   height: 40px;
   margin-top:10px; 
   margin-left:10px;
   z-index: 999999;
}








   
